# .env.example
ADMIN_PASSWORD=lab2k23admin
UDDOKTAPAY_API_KEY=rPTw1AykYld7eFQx2DRUidv5zmdUwIry2ppyS7bI
UDDOKTAPAY_BASE_URL=https://sandbox.uddoktapay.com
# SSLCOMMERZ_STORE_ID=
# SSLCOMMERZ_STORE_PASSWORD=
